*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container{
 width: 100%;
 height: 100vh;
 background-color: rgb(255, 255, 255);
 display: flex;
 align-items: center;
 justify-content: center;
}
.calculatorbox{
background: hsl(0, 11%, 22%);
padding: 20px;
border-radius: 10px;
}
.calculatorbox form input{
border: 0px;
outline: 0px;
width: 30px;
height: 30px;
border-radius: 10px;
box-shadow: 8px 8px 5px 2px rgba(31, 23, 23, 0.765),
5px 5px 5px 2px rgba(51, 34, 34, 0.913),
5px 5px 5px 2px rgba(11, 7, 7, 0.491);
background: transparent;
color: #fff;
font-size: 18px;
cursor: pointer;
margin: 10px;
}
.display{
display: flex;
justify-content: flex-end;
margin: 20px 0px;
}
form .display input{
text-align: right;
flex: 1;
font-size: 35px;
box-shadow: none;
}

form input.surya{
color: aqua;
}